.body {
    padding: 14px 0 43px;
}
    .body__sidebar {
        display: inline-block;
        vertical-align: top;
        width: 260px;
        margin: 0 24px 0 0;
        padding: 26px 0 0;
    }

    .body__content {
        display: inline-block;
        vertical-align: top;
        width: 716px;
    }

    .body__footer {
        margin-top: 27px;
    }

        .body__footer__wave {

        }

        .body__footer__content {
            margin-top: 32px;
        }

            .body__footer__content__column {
                display: inline-block;
                vertical-align: top;
            }

                .body__footer__content__column__title {

                }

                .body__footer__content__column__block {
                    margin-top: 25px;
                }

            .body__footer__content__column_left {
                width: 436px;
            }

            .body__footer__content__column_right {
                width: 533px;
                margin-left: 31px;
            }