.breadcrumbs {
    cursor: default;
    font-size: 11px;
    line-height: 13px;
    color: #999;
}
    .breadcrumbs__item {
        display: inline-block;
        vertical-align: top;
        margin: 0 4px;
    }

        .breadcrumbs__item__link {
            color: #0093b8;
        }

            .breadcrumbs__item__link__icon {
                display: inline-block;
                vertical-align: middle;
                margin-right: 9px;
            }

            .breadcrumbs__item__link__text {
                text-decoration: underline;
                display: inline-block;
                vertical-align: baseline;
            }

        .breadcrumbs__item__link:hover .breadcrumbs__item__link__text {
            text-decoration: none;
        }

        .breadcrumbs__item:first-child {
            margin-left: 0;
        }
