.contacts {

}

    .contacts__text {

    }

    .contacts__map {
        margin-top: 40px;

    }
        .contacts__map__item {
            width: 344px;
            margin-left: 26px;
            display: inline-block;
            vertical-align: top;
        }

        .contacts__map__item:first-child {
            margin-left: 0;
        }

            .contacts__map__item__text {

            }

            .contacts__map__item__widget {
                margin-top: 18px;
                border: 1px solid #ded5bc;
            }

    .contacts__form {
        margin: 28px 0 0;
    }
        .contacts__form__title {

        }

        .contacts__form__errors {
            margin: 14px 0 0;
        }

        .contacts__form__widget {
            margin: 17px 0 0;
        }