.header {
    height: 307px;
    position: relative;
}
    .header__left {
        position: absolute;
        left: 0;
        top: 31px;
    }
        .header__left__logo {

        }

        .header__left__site-nav {
            position: absolute;
            left: 219px;
            top: 51px;
        }

    .header__right {
        position: absolute;
        right: 28px;
        top: 86px;
    }
        .header__right__contacts {

        }

        .header__right__work-time {
            margin-top: 6px;
        }