.title {
    display: block;
    font-size: 18px;
    line-height: 20px;
    color: #000;
    position: relative;
}

    .title__text {
        display: inline;
    }

    .title__link {
        display: inline;
        margin-left: 15px;
        font-size: 12px;
        line-height: 14px;
        position: relative;
        top: -1px;
    }

    .title__icon {
        position: absolute;
        top: -1px;
        left: 0;
    }

    .title__icon + .title__text {
        padding-left: 35px;
    }