.title {
    display: block;
    font-size: 18px;
    line-height: 20px;
    color: #000;
}

    .title__text {
        display: inline;
    }

    .title__link {
        display: inline;
        margin-left: 15px;
        font-size: 12px;
        line-height: 14px;
        position: relative;
        top: -1px;
    }
